[Desktop Entry]
Type=Application
Name=GECOS First-start assistant
Exec=__firstart_prefix__/bin/python __firstart_prefix__/bin/firstart
OnlyShowIn=GNOME;Unity;LXDE
NoDisplay=true
StartupNotify=false
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=false
X-Ubuntu-Gettext-Domain=firstart
